.specific-row{
    width : 130px !important;
}   


.position-fixed::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.text{
    font-weight: bold !important;
    font-size: 20px;
}

.header_faqs{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 8px 0;
    margin: 8px 0;
}
.tdbreak {
	word-break: break-all
  }