.page-content {
	width: 100%;
	margin:  0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	/* background: linear-gradient(90deg,#68d07b,#00b4ff); */
    /* background: radial-gradient(circle, rgb(221, 221, 220) 0%, rgb(8, 181, 215) 100%); */
	background-color: white;
	flex-direction: column;
	-o-flex-direction: column;
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
}
.page-content label{
	font-size: 18px !important;
	font-weight: bold !important;
}
.wizard-heading {
    /* color: rgb(0, 0, 0); */
	color: white;
	letter-spacing: 10px;
    font-weight: 800;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: left;
}
/* .wizard-v6-content::before{
    bottom: 100%;
    left: 75px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgb(0, 0, 0); 
	background-color: #1f2833;
    border-width: 15px;
} */
.wizard-v6-content   {
	width:75%;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 0 0 90px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.wizard-v6-content .wizard-form {
	width: 100%;
	/* background:  #1f2833;; */
	background-color: #f8f9fa;
	border-radius: 10px;
	color: black !important;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
	box-shadow: rgb(255 255 255 / 6%) 6px 6px 6px 5px inset;
}

.record-button{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 19px;
	text-transform: uppercase;
}
.record-button:hover{
	text-decoration: underline;
}
