.in{
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius:3 px;
}
.in:focus{
    border:1px solid #7C70F4;
}
.error-message
{
    display: none;
    background-color: rgba(255, 0, 0, 0.555);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;;
}